HolidayRentalReservation/xml-resources/web-service-references/HolidayReservationWebService/wsdl/localhost_8080/HolidayReservationSystem/HolidayReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CategoryNotAvailableException" type="tns:CategoryNotAvailableException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="ModelNotAvailableException" type="tns:ModelNotAvailableException"/>

<xs:element name="ModelNotFoundException" type="tns:ModelNotFoundException"/>

<xs:element name="calculateAmountForReservation" type="tns:calculateAmountForReservation"/>

<xs:element name="calculateAmountForReservationResponse" type="tns:calculateAmountForReservationResponse"/>

<xs:element name="calulateRentalRate" type="tns:calulateRentalRate"/>

<xs:element name="calulateRentalRateResponse" type="tns:calulateRentalRateResponse"/>

<xs:element name="getAvailableModelsCategory" type="tns:getAvailableModelsCategory"/>

<xs:element name="getAvailableModelsCategoryResponse" type="tns:getAvailableModelsCategoryResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="persist" type="tns:persist"/>

<xs:element name="persistResponse" type="tns:persistResponse"/>

<xs:element name="retrieveAllCategory" type="tns:retrieveAllCategory"/>

<xs:element name="retrieveAllCategoryResponse" type="tns:retrieveAllCategoryResponse"/>

<xs:element name="retrieveAllOutlets" type="tns:retrieveAllOutlets"/>

<xs:element name="retrieveAllOutletsResponse" type="tns:retrieveAllOutletsResponse"/>

<xs:element name="retrieveModelByName" type="tns:retrieveModelByName"/>

<xs:element name="retrieveModelByNameResponse" type="tns:retrieveModelByNameResponse"/>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="arg0" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persistResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="calculateAmountForReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateAmountForReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllOutlets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllOutletsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outletEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outletEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="closingHour" type="xs:string" minOccurs="0"/>
<xs:element name="openingHour" type="xs:string" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
<xs:element name="outletName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryEntity">
<xs:sequence>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="categoryName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calulateRentalRate">
<xs:sequence>
<xs:element name="arg0" type="tns:modelEntity" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelEntity">
<xs:sequence>
<xs:element name="cars" type="tns:carEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isDeleted" type="xs:boolean"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carEntity">
<xs:sequence>
<xs:element name="carId" type="xs:long" minOccurs="0"/>
<xs:element name="licensePlateNumber" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calulateRentalRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModelNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModelNotAvailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableModelsCategory">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:long" minOccurs="0"/>
<xs:element name="arg4" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableModelsCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CategoryNotAvailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveModelByName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveModelByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>