HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/HolidayReservationSystem/HolidayReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="retrieveAllCategory" type="tns:retrieveAllCategory"/>

<xs:element name="retrieveAllCategoryResponse" type="tns:retrieveAllCategoryResponse"/>

<xs:element name="retrieveAllOutlets" type="tns:retrieveAllOutlets"/>

<xs:element name="retrieveAllOutletsResponse" type="tns:retrieveAllOutletsResponse"/>

<xs:complexType name="retrieveAllOutlets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllOutletsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outletEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outletEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="car" type="tns:carEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="closingHour" type="xs:string" minOccurs="0"/>
<xs:element name="employeeEntities" type="tns:employeeEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="openingHour" type="xs:string" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
<xs:element name="outletName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carEntity">
<xs:sequence>
<xs:element name="carId" type="xs:long" minOccurs="0"/>
<xs:element name="licensePlateNumber" type="xs:string" minOccurs="0"/>
<xs:element name="modelEntity" type="tns:modelEntity" minOccurs="0"/>
<xs:element name="outlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="reservationEntity" type="tns:reservationEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelEntity">
<xs:sequence>
<xs:element name="cars" type="tns:carEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="categoryEntity" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="modelId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryEntity">
<xs:sequence>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="categoryName" type="xs:string" minOccurs="0"/>
<xs:element name="models" type="tns:modelEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rentalRates" type="tns:rentalRateEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservations" type="tns:reservationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalRateEntity">
<xs:sequence>
<xs:element name="category" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean"/>
<xs:element name="ratePerDay" type="xs:double"/>
<xs:element name="rentalRateId" type="xs:long" minOccurs="0"/>
<xs:element name="rentalRateName" type="xs:string" minOccurs="0"/>
<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationEntity">
<xs:sequence>
<xs:element name="category" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="ccCVV" type="xs:int"/>
<xs:element name="ccExpiryDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ccNum" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customerEntity" minOccurs="0"/>
<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="isPaid" type="xs:boolean"/>
<xs:element name="model" type="tns:modelEntity" minOccurs="0"/>
<xs:element name="partner" type="tns:partnerEntity" minOccurs="0"/>
<xs:element name="pickupOutlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="rentalDays" type="tns:rentalDayEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="returnOutlet" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerEntity">
<xs:sequence>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobileNum" type="xs:long"/>
<xs:element name="passportNum" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerEntity">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalDayEntity">
<xs:sequence>
<xs:element name="dayOfWeek" type="xs:int"/>
<xs:element name="prevailingRentalRate" type="tns:rentalRateEntity" minOccurs="0"/>
<xs:element name="rentalDayId" type="xs:long" minOccurs="0"/>
<xs:element name="rentalStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservationEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeEntity">
<xs:sequence>
<xs:element name="accessRightEnum" type="tns:accessRightEnum" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outletEntity" type="tns:outletEntity" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoryEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="accessRightEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SALESMANAGER"/>
<xs:enumeration value="OPERATIONMANAGER"/>
<xs:enumeration value="CUSTOMERSERVICEEXECUTIVE"/>
<xs:enumeration value="ADMINISTRATOR"/>
<xs:enumeration value="EMPLOYEE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>